<!-- reset-password.component.html -->

<div class="container">
    <h2>Reset Password</h2>
    <form (submit)="requestResetPassword()">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
  
      <button type="submit">Send OTP</button>
    </form>
  
    <div *ngIf="showOtpForm">
      <h3>Enter OTP:</h3>
      <form (submit)="verifyOtp()">
        <label for="otp">OTP:</label>
        <input type="text" id="otp" name="otp" [(ngModel)]="otp" required>
  
        <button type="submit">Verify OTP</button>
      </form>
    </div>
  
    <div *ngIf="showResetForm">
      <h3>Reset Password:</h3>
      <form (submit)="resetPassword()">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="user.newPassword" required>
  
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" required>
  
        <button type="submit">Reset Password</button>
      </form>
    </div>
  </div>
  