
.navbar{
    padding: 10px;
}
.container{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.uper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.research{
    display: flex;
    flex-wrap: wrap;
}